trunk/portalteam-portlet/docroot/WEB-INF/dtd/form-structure.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE structure [

<!ELEMENT fields (field*)>
<!ELEMENT field (title, name, comment, type, mandatory, values, defaultValue, 
    width, height)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT mandatory (#PCDATA)>
<!ELEMENT values (#PCDATA)>
<!ELEMENT defaultValue (#PCDATA)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT comment (#PCDATA)>

]>